{% extends 'main/auth_base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'expense/css/diagrams.css' %}">
{% endblock %}

{% block content %}
<div class="diagram-page">

  <h2 class="text-center mb-5 section-title">Financial Overview</h2>

  <div class="chart-container shadow-sm">
    <canvas id="myChart"
        data-labels='{{ chart_labels|safe }}'
        data-income='{{ chart_income|safe }}'
        data-expenses='{{ chart_expenses|safe }}'
        height="400"></canvas>


  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'expense/js/diagrams.js' %}"></script>

{% endblock %}
