body {
  min-height: 100vh;
  height: auto;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #333;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  background-color: #f8f9fa;
  margin: 0;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;

}
main {
  flex: 1;
}

.diagram-page {
  padding: 100px 20px 20px;
  background: linear-gradient(to bottom right, #f8f9fa, #e3f2fd);
  min-height: 100vh;
}


canvas {
  width: 100% !important;
  height: 400px !important;
}

.container.mt-5 {
  background-color: #fff;
  padding: 20px;
  font-weight: bold;
  color: #333;
}

#myChart {
  color: #333;
  font-family: Arial, sans-serif;
}

#myChart .chartjs-text {
  font-weight: bold;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  color: #212529;
  text-align: center;
  margin-bottom: 30px;
}

.chart-container {
  background-color: #fff;
  border-radius: 16px;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

/* 🔽 Мобильная адаптация */
@media (max-width: 768px) {
  .navbar-collapse {
    position: absolute !important;
    top: 72px;
    left: 0;
    width: 100%;
    background-color: #ffffff !important;
    z-index: 1050 !important;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .diagram-page {
    padding: 80px 0px 0px;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .chart-container {
    height: auto;
    box-shadow: none;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    padding: 1rem;
    box-sizing: border-box;
  }


  canvas {
    width: 100% !important;
    height: auto !important;
  }
}
